.article-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: .5rem;
    align-items: center;
    max-width: 50rem;
    margin: auto;
    img {
        width: 100%;
    }
}

.button-link {
display: flex;
justify-content: space-evenly;
padding: 1rem;
button {
    cursor: pointer;
}
}

button {
font-family: 'Rubik', sans-serif;
padding:.23rem;
}
button:hover {
    transform: scale(1.1);
}

