.article-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    margin: auto;
    img {
        width: 100%;
    }
}

.button-link {
display: flex;
justify-content: space-evenly;
padding: 1rem;
button {
    cursor: pointer;
}
}