.card-container {
  display: flex;
  flex-direction: column;
 
  .article-strip {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: center;
  }
  h3{
    padding: 0;
  }
}
