.card-container {
  display: flex;
  flex-direction: column;
 
  .article-strip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    text-align: center;
  }
  h3{
    padding: 0;
  }
}
