.article-card-container {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  padding: 2rem;
  background-color: #ffffff;
}
 .article-card-container:hover {
   transform: scale(1.05);
   box-shadow: 10px 10px 10px rgb(175, 169, 167);
 }
